#fields-cal37_choose_dates_button { color: white; background-color: #DC2626; border-radius: .7em; padding: .5em .8em; border: 1px solid white; }

#fields-cal37_time_alt_text p { padding: .9em 0 0; }
#fields-cal37_event_inserter { width:100%; }
#fields-cal37_event_inserter label { margin: 3px; }
.cal37_one_micro_cal {  /* Container for a table with it's title */
	float: left;
	text-align: center;
	margin: 2px 5px;
}

#fields-cal37_micro td { border: 1px solid gray; text-align: right; }

.calday { width: 2.5em; }

.cpControl { border: 1px solid gray; margin-top: 1px; padding: 0 .2em 0 .4em; }
